.offers {
  padding: 40px 0px;
}


.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.offers-left h1 {
    color: #171717;
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
}

.offers-left p {
    color: #171717;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}


.offers-left button:hover {
    background: #e63a3a;
}

.offers-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offers-right img {
    width: 80%;
    height: auto;
    max-width: 500px;
}
.video-offer {
  width: 100%;
  max-width: 400px;  /* adjust size */
  border-radius: 12px; /* make it look neat */
  object-fit: cover;
}
.circle-wrapper {
  position: relative;
  width: 160px;
  height: 160px;
  border: 4px solid #234E41;
  border-radius: 50%;
  background: #F4E9D8 !important;
  
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.circle-svg {
  width: 100%;
  height: 100%;
}
/* 
.circle-border {
  animation: spin 10s linear infinite;
} */

.circle-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* Rotate text path to align correctly around the circle */
.circle-svg text {
  transform: rotate(270deg);       /* adjust orientation */
  transform-origin: 55% 55%;  
  transform-origin: center center; /    /* rotate around center */
}
.feature-connector {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-connector::after {
  content: "";
  position: absolute;
  top: 50%;             /* vertically center */
  right: -40px;         /* space between circles */
  width: 60px;          /* length of connector */
  height: 2px;          /* thickness */
  background: #234E41;  /* color */
}

.feature-connector:last-child::after {
  display: none; /* no line after last item */
}

@media (max-width: 1024px) {
     .feature-connector::after {
    display: none;
  }
    .offers {
        flex-direction: column;
        padding: 15px;
    }

    .offers-left h1 {
        font-size: 28px;
    }

    .offers-left p {
        font-size: 12px;
    }

    .offers-left button {
        width: 160px;
        height: 35px;
        font-size: 10px;
    }

    .offers-right img {
        max-width: 240px;
    }
}

@media (max-width: 768px) {
    .feature-connector::after {
    display: none;
  }
    .offers {
        padding: 10px;
    }

    .offers-left h1 {
        font-size: 24px;
    }

    .offers-left p {
        font-size: 12px;
    }

    .offers-left button {
        width: 140px;
        height: 30px;
        font-size: 10px;
    }

    .offers-right img {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .feature-connector::after {
    display: none;
  }
    .offers {
        padding: 10px;
        margin-top: 30px;
    }

    .offers-left h1 {
        font-size: 20px;
    }

    .offers-left p {
        font-size: 10px;
    }

    .offers-left button {
        width: 120px;
        height: 28px;
        font-size: 9px;
    }

    .offers-right img {
        max-width: 180px;
    }
    
}
